public/n8n-workflows/00-routeur-central.json
{
  "name": "AdamKom - Routeur Central Webhooks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bee5d5e1-ce36-42a2-9e82-4662ea996d43",
        "responseMode": "onReceived",
        "responseCode": 200
      },
      "id": "webhook-central",
      "name": "Webhook Central",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "client.signed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Client Signé"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "invoice.created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facture Créée"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "support.created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Support Créé"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "support.resolved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Support Résolu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "project.progress",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Projet 80%"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-event",
      "name": "Router par Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "fromEmail": "contact@adamkom.com",
        "toEmail": "={{ $json.body.client_email }}",
        "subject": "Bienvenue chez AdamKom - {{ $json.body.company_name }}",
        "emailType": "html",
        "html": "<h1>Bienvenue {{ $json.body.company_name }} !</h1><p>Nous sommes ravis de vous compter parmi nos clients.</p><p><strong>Pack choisi :</strong> {{ $json.body.pack_type }}</p><p><strong>Votre référence client :</strong> {{ $json.body.ndi }}</p><p>Notre équipe va maintenant commencer à travailler sur votre projet. Vous recevrez des mises à jour régulières.</p><p>Cordialement,<br>L'équipe AdamKom</p>"
      },
      "id": "email-bienvenue",
      "name": "Email Bienvenue",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [800, 100]
    },
    {
      "parameters": {
        "fromEmail": "facturation@adamkom.com",
        "toEmail": "={{ $json.body.client_email }}",
        "subject": "Facture {{ $json.body.invoice_number }} - AdamKom",
        "emailType": "html",
        "html": "<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto'><div style='background:#1E3A5F;padding:20px;text-align:center'><h1 style='color:#fff;margin:0'>ADAMKOM by JJP</h1><p style='color:#DAA520;margin:5px 0 0'>Solutions digitales pour entreprises</p></div><div style='padding:30px'><p>Bonjour <strong>{{ $json.body.company_name }}</strong>,</p><p>Veuillez trouver ci-joint votre facture <strong>{{ $json.body.invoice_number }}</strong>.</p><table style='width:100%;border-collapse:collapse;margin:20px 0'><tr style='background:#f5f7fa'><td style='padding:10px;font-weight:bold'>Montant TTC</td><td style='padding:10px;text-align:right'>{{ $json.body.total_amount }} €</td></tr><tr><td style='padding:10px;font-weight:bold'>Échéance</td><td style='padding:10px;text-align:right'>{{ $json.body.due_date }}</td></tr></table><hr style='border:1px solid #eee'><h3 style='color:#1E3A5F'>📋 Vos accès client</h3><ul style='list-style:none;padding:0'><li style='margin:10px 0'>🎫 <a href='{{ $json.body.support_link }}' style='color:#1E3A5F;font-weight:bold'>Accès Support Client</a></li><li style='margin:10px 0'>💳 <a href='{{ $json.body.form_nfc_link }}' style='color:#1E3A5F;font-weight:bold'>Formulaire Carte NFC</a></li><li style='margin:10px 0'>🌐 <a href='{{ $json.body.form_site_link }}' style='color:#1E3A5F;font-weight:bold'>Formulaire Site Internet</a></li></ul></div><div style='background:#1E3A5F;padding:15px;text-align:center'><p style='color:#fff;margin:0;font-size:12px'>ADAMKOM by JJP — contact@adamkom.com — 0693 802 201</p></div></div>",
        "attachments": "={{ $json.body.pdf_base64 ? $json.body.pdf_filename + '=' + $json.body.pdf_base64 : '' }}"
      },
      "id": "email-facture",
      "name": "Email Facture",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [800, 250]
    },
    {
      "parameters": {
        "fromEmail": "support@adamkom.com",
        "toEmail": "={{ $json.body.client_email }}",
        "subject": "Ticket {{ $json.body.ticket_number }} reçu - AdamKom Support",
        "emailType": "html",
        "html": "<h1>Votre demande a bien été reçue</h1><p>Bonjour {{ $json.body.company_name }},</p><p>Nous avons bien reçu votre ticket de support :</p><p><strong>Numéro :</strong> {{ $json.body.ticket_number }}</p><p><strong>Objet :</strong> {{ $json.body.subject }}</p><p><strong>Catégorie :</strong> {{ $json.body.category }}</p><p>Notre équipe va traiter votre demande dans les plus brefs délais.</p><p>Cordialement,<br>L'équipe Support AdamKom</p>"
      },
      "id": "email-support-confirm",
      "name": "Email Confirmation Support",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "fromEmail": "support@adamkom.com",
        "toEmail": "={{ $json.body.client_email }}",
        "subject": "Ticket {{ $json.body.ticket_number }} résolu - AdamKom",
        "emailType": "html",
        "html": "<h1>Votre ticket a été résolu</h1><p>Bonjour {{ $json.body.company_name }},</p><p>Votre ticket <strong>{{ $json.body.ticket_number }}</strong> a été résolu.</p><p><strong>Objet :</strong> {{ $json.body.subject }}</p><p>Si vous avez d'autres questions, n'hésitez pas à nous contacter.</p><p>Cordialement,<br>L'équipe Support AdamKom</p>"
      },
      "id": "email-support-resolu",
      "name": "Email Ticket Résolu",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [800, 550]
    },
    {
      "parameters": {
        "fromEmail": "projets@adamkom.com",
        "toEmail": "={{ $json.body.client_email }}",
        "subject": "Votre projet est presque terminé ! - AdamKom",
        "emailType": "html",
        "html": "<h1>Votre projet avance bien !</h1><p>Bonjour {{ $json.body.company_name }},</p><p>Votre projet <strong>{{ $json.body.project_name }}</strong> est maintenant à <strong>{{ $json.body.progress }}%</strong> d'avancement.</p><p>Notre équipe finalise les derniers détails. Vous serez bientôt contacté pour la livraison.</p><p>Cordialement,<br>L'équipe AdamKom</p>"
      },
      "id": "email-progress",
      "name": "Email Progression Projet",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [800, 700]
    }
  ],
  "connections": {
    "Webhook Central": {
      "main": [
        [
          {
            "node": "Router par Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router par Event": {
      "main": [
        [
          {
            "node": "Email Bienvenue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Facture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Confirmation Support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Ticket Résolu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Progression Projet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Workflow central AdamKom. Les données sont dans $json.body (event, client_email, etc.). Route les events: client.signed, invoice.created, support.created, support.resolved, project.progress"
  }
}
