public/n8n-workflows/06-prospect-rdv-discord.json
{
  "name": "06 - Prospect RDV → Discord",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bee5d5e1-ce36-42a2-9e82-4662ea996d43",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "webhook-central",
      "name": "Webhook Central",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [380, 300],
      "webhookId": "bee5d5e1-ce36-42a2-9e82-4662ea996d43"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "prospect.rdv_planifie",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rdv_planifie"
            }
          ]
        },
        "options": { "fallbackOutput": "none" }
      },
      "id": "switch-rdv",
      "name": "Filtre Événement",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DISCORD_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [\n    {\n      \"title\": \"📅 NOUVEAU RDV PLANIFIÉ\",\n      \"color\": 3066993,\n      \"fields\": [\n        { \"name\": \"🏢 Entreprise\", \"value\": \"{{ $json.business_name || 'Non renseigné' }}\", \"inline\": false },\n        { \"name\": \"📍 Adresse\", \"value\": \"{{ $json.address || 'Non renseignée' }}\", \"inline\": true },\n        { \"name\": \"🏙️ Ville\", \"value\": \"{{ $json.city || 'Non renseignée' }}\", \"inline\": true },\n        { \"name\": \"📞 Téléphone\", \"value\": \"{{ $json.phone || 'Non renseigné' }}\", \"inline\": true },\n        { \"name\": \"🔧 Secteur\", \"value\": \"{{ $json.sector || 'Non renseigné' }}\", \"inline\": true },\n        { \"name\": \"📆 Date du RDV\", \"value\": \"{{ $json.appointment_date }}\", \"inline\": true },\n        { \"name\": \"🕐 Heure\", \"value\": \"{{ $json.appointment_time }}\", \"inline\": true },\n        { \"name\": \"🗺️ Google Maps\", \"value\": \"{{ $json.google_maps_url ? '[Voir sur Maps](' + $json.google_maps_url + ')' : 'Non disponible' }}\", \"inline\": false },\n        { \"name\": \"📝 Notes\", \"value\": \"{{ $json.notes || 'Aucune' }}\", \"inline\": false },\n        { \"name\": \"👤 Qualifié par\", \"value\": \"{{ $json.agent_name || 'Non assigné' }}\", \"inline\": false }\n      ],\n      \"footer\": { \"text\": \"AdamKom CRM — Merci de confirmer la prise en charge avec un ✅\" },\n      \"timestamp\": \"{{ new Date().toISOString() }}\"\n    }\n  ]\n}"
      },
      "id": "discord-send",
      "name": "Envoyer Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook Central": {
      "main": [
        [{ "node": "Filtre Événement", "type": "main", "index": 0 }]
      ]
    },
    "Filtre Événement": {
      "main": [
        [{ "node": "Envoyer Discord", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "prospect" }, { "name": "discord" }],
  "meta": {
    "description": "Workflow complet : Webhook → Filtre event prospect.rdv_planifie → Envoi embed Discord. Variable requise dans n8n : DISCORD_WEBHOOK_URL."
  }
}
