public/n8n-workflows/06-prospect-rdv-discord.json
{
  "name": "06 - Prospect RDV → Discord",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prospect-rdv-discord",
        "responseMode": "onReceived",
        "responseCode": 200
      },
      "id": "webhook-rdv",
      "name": "Webhook RDV",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "prospect.rdv_planifie",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rdv_planifie"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-rdv",
      "name": "Filtre RDV",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DISCORD_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [\n    {\n      \"title\": \"📅 NOUVEAU RDV PLANIFIÉ\",\n      \"color\": 3066993,\n      \"fields\": [\n        { \"name\": \"🏢 Entreprise\", \"value\": \"{{ $json.body.business_name }}\", \"inline\": false },\n        { \"name\": \"📍 Adresse\", \"value\": \"{{ $json.body.address }}\", \"inline\": true },\n        { \"name\": \"🏙️ Ville\", \"value\": \"{{ $json.body.city }}\", \"inline\": true },\n        { \"name\": \"📞 Téléphone\", \"value\": \"{{ $json.body.phone }}\", \"inline\": true },\n        { \"name\": \"🔧 Secteur\", \"value\": \"{{ $json.body.sector }}\", \"inline\": true },\n        { \"name\": \"📆 Date du RDV\", \"value\": \"{{ $json.body.appointment_date }}\", \"inline\": true },\n        { \"name\": \"🕐 Heure\", \"value\": \"{{ $json.body.appointment_time }}\", \"inline\": true },\n        { \"name\": \"📝 Notes\", \"value\": \"{{ $json.body.notes || 'Aucune' }}\", \"inline\": false },\n        { \"name\": \"👤 Qualifié par\", \"value\": \"{{ $json.body.agent_name }}\", \"inline\": false }\n      ],\n      \"footer\": { \"text\": \"Merci de confirmer la prise en charge avec un ✅\" },\n      \"timestamp\": \"{{ $json.body.timestamp }}\"\n    }\n  ]\n}"
      },
      "id": "discord-send",
      "name": "Envoyer Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook RDV": {
      "main": [
        [{ "node": "Filtre RDV", "type": "main", "index": 0 }]
      ]
    },
    "Filtre RDV": {
      "main": [
        [{ "node": "Envoyer Discord", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "prospect" }, { "name": "discord" }],
  "meta": {
    "description": "Envoie une notification Discord quand un prospect passe en RDV planifié. Déclenché via webhook. Les données sont dans $json.body."
  }
}
