public/n8n-workflows/08-support-reponse-discord.json
{
  "name": "08 — Retour Support → Discord Admin",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bee5d5e1-ce36-42a2-9e82-4662ea996d43",
        "options": {}
      },
      "id": "webhook-central",
      "name": "Webhook Central",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "bee5d5e1-ce36-42a2-9e82-4662ea996d43"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "support.response",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Retour Support"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-event",
      "name": "Filtre Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [\n    {\n      \"title\": \"🔔 Retour Support — {{ $json.ticket_number }}\",\n      \"color\": 16711790,\n      \"fields\": [\n        { \"name\": \"🏢 Client\", \"value\": \"{{ $json.company_name }}\", \"inline\": true },\n        { \"name\": \"📋 Ticket\", \"value\": \"{{ $json.ticket_number }}\", \"inline\": true },\n        { \"name\": \"🏷️ Catégorie\", \"value\": \"{{ $json.category }}\", \"inline\": true },\n        { \"name\": \"⚡ Priorité\", \"value\": \"{{ $json.priority }}\", \"inline\": true },\n        { \"name\": \"📝 Objet\", \"value\": \"{{ $json.subject }}\", \"inline\": false },\n        { \"name\": \"👤 Assigné à\", \"value\": \"{{ $json.assigned_to_name || 'Non assigné' }}\", \"inline\": true },\n        { \"name\": \"📊 Statut\", \"value\": \"{{ $json.status }}\", \"inline\": true },\n        { \"name\": \"💬 Notes admin\", \"value\": \"{{ $json.admin_notes || 'Aucune' }}\", \"inline\": false }\n      ],\n      \"footer\": { \"text\": \"Adamkom CRM — Support\" },\n      \"timestamp\": \"{{ $json.timestamp }}\"\n    }\n  ]\n}"
      },
      "id": "discord-notify",
      "name": "Discord — Retour Support",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook Central": {
      "main": [
        [{ "node": "Filtre Event", "type": "main", "index": 0 }]
      ]
    },
    "Filtre Event": {
      "main": [
        [{ "node": "Discord — Retour Support", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
